.message-wrapper {
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(26, 26, 26, 0.05);
    border-radius: 0.25rem;
    min-height: calc(100vh - 4rem);
}

.message-aside {
    flex-grow: 1;
    min-width: 22.25rem;
    max-width: 22.25rem;
}

.message-content {
    flex-grow: 2;
    min-width: 30rem;
}

.message__search-box {
    position: relative;
    background-color: $white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem 0 0 0;
    @include default-transition();
    .search-box__input {
        font-size: 0.9375rem;
        padding-left: 3rem;
    }
    .search-box__icon {
        font-size: 1.25rem;
        left: 0.75rem;
    }
}

.message__user--list {
    overflow-y: auto;
    height: calc(100vh - 10.2rem);
}

.message__user--item {
    padding: 0.75rem 0.75rem;
    cursor: pointer;
    position: relative;
    &:hover,
    .user__item {
        background-color: #f5faf2;
    }
    .user__unactive--time {
        font-size: 0.8125rem;
        color: $secondary;
    }
}

.message__user--focus {
    background-color: #f5faf2;
    border-right: 2px solid $primary;
}

.message__user--active {
    .message-user__info {
        font-weight: 600;
    }
    .message-user__summary {
        font-weight: 600;
        color: $body-color;
    }
}

.message-user__info {
    font-size: 0.9375rem;
}

.message-user__summary {
    font-size: 0.8125rem;
    color: $secondary;
}

.message__summary {
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message__unactive {
    padding: 0.75rem 0;
}

.message__unactive--time {
    font-size: 0.8125rem;
    color: $secondary;
}

.message-content__user {
    padding: 0.275rem 0.75rem;
    position: relative;
}

.message__status {
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    position: absolute;
    z-index: 5;
}

.message__status--active {
    background-color: $primary;
    top: 2.25rem;
    left: 2.5rem;
}

.message__status--unactive {
    background-color: $primary;
    position: absolute;
    top: 2.25rem;
    left: 2.5rem;
}

.message__head--name {
    width: 100%;
    text-align: center;
    font-size: 0.9375rem;
}

.message__head--avatar {
    width: 100%;
}

.message__head--link {
    text-align: center;
    font-size: 0.8125rem;
    >a {
        color: $primary;
    }
}

.file-item {
    cursor: pointer;
    &:hover,
    .file-item {
        background-color: $body-chat;
    }
}

.info__image--item {
    padding: 0.125rem;
}

.message-info {
    height: calc(100vh - 6.6rem);
    overflow-y: auto;
}

.message-history {
    height: calc(100vh - 12rem);
    overflow-y: scroll;
    .tooltip {
        position: fixed;
    }
}

.message-history__time {
    font-size: 0.8125rem;
    color: $secondary;
}

.history__item--avatar {
    position: relative;
}

.item__avatar {
    position: absolute;
    bottom: 0.5rem;
    left: 0.875rem;
}

.message__details {
    position: relative;
    display: table;
    max-width: 50%;
    .history__action {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, -50%);
        top: 50%;
        @include default-transition();
    }
    .gapo-icon {
        font-size: 0.875rem;
    }
    &:hover {
        .history__action {
            visibility: visible;
            opacity: 1;
        }
    }
}

.message__link {
    width: 100%;
    max-width: 100%;
}

.history__item--left {
    .message__details--images,
    .message__link {
        padding: 0 !important;
    }
    .message__details {
        background-color: #f5f5f5;
        padding: 0.5rem 1rem;
    }
    .history__action {
        right: -3.75rem;
    }
}

.history__item--right {
    .message__details--images {
        padding: 0 !important;
    }
    .message__details {
        background-color: $primary;
        padding: 0.5rem 1rem;
        color: #FFFFFF;
    }
    .history__action {
        left: -1rem;
    }
}

.message-form--editor {
    .message__action {
        font-size: 1.5rem;
        color: $secondary;
        &:hover,
        .message__action {
            color: #1A1A1A;
        }
    }
    .message__submit {
        font-size: 1.6rem;
        color: $primary;
        cursor: pointer;
        padding: 0rem 0.75rem;
    }
    textarea {
        padding: .25rem 1rem;
        line-height: 1.5rem;
        height: 2.5rem;
        resize: none;
        font-size: .875rem;
    }
}

.message__details--images,
.message__link {
    background-color: transparent !important;
}

.message__details--link {
    border: 1px solid #eeeeee;
    overflow: hidden;
}

.message__link--media {
    min-width: 7rem;
}

.message__link--description {
    font-size: 0.9375rem;
}

.message__link--title {
    font-size: 0.9375rem;
}

.border-radius-1x {
    border-radius: 1em;
    .message__details--link {
        border-radius: 1em;
    }
}

.border-radius-left-1x {
    border-radius: 0 1rem 1rem 0;
    .message__details--link {
        border-radius: 0 1rem 1rem 0;
    }
}

.border-radius-right-1x {
    border-radius: 1rem 0 0 1rem;
    .message__details--link {
        border-radius: 1rem 0 0 1rem;
    }
}

.border-radius-top-right-1x {
    border-radius: 1rem 1rem 0 1rem;
    .message__details--link {
        border-radius: 1rem 1rem 0 1rem;
    }
}

.border-radius-bottom-right-1x {
    border-radius: 1rem 0 1rem 1rem;
    .message__details--link {
        border-radius: 1rem 0 1rem 1rem;
    }
}

.border-radius-top-left-1x {
    border-radius: 1rem 1rem 1rem 0;
    .message__details--link {
        border-radius: 1rem 1rem 1rem 0;
    }
}

.border-radius-bottom-left-1x {
    border-radius: 0 1rem 1rem 1rem;
}

.gapo-overlay-preview {
    background-color: #1A1A1A;
    opacity: 1;
}

.modal-image {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-image__dialog {
    margin: 0 auto;
    position: relative;
}

.modal-image__banner {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-image__banner {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid transparent;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    .gapo-icon {
        font-size: 1.5rem;
        position: relative;
        line-height: 0;
    }
    &:hover,
    .btn-image__banner {
        color: #FFFFFF;
        border: 1px solid #808080;
    }
}

.preview__content--media {
    margin: 0px auto;
    height: calc(100vh - 10rem);
    img {
        max-height: calc(100vh - 10rem);
    }
}

.close__modal-image {
    color: #FFFFFF;
    text-shadow: none;
    font-size: 1rem;
    position: absolute;
    right: -1.5rem;
    top: 1.5rem;
}

.preview__action--btn {
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
}

.preview__action--prev {
    top: 49.5%;
    left: 0;
}

.preview__action--next {
    top: 49.5%;
    right: 0;
}

.preview__album--thumnail {
    width: 7rem;
    border: 0.1rem solid #FFFFFF;
}

.gapo-preview__album {
    flex-grow: 1;
    overflow: hidden;
    ul {
        justify-content: space-between;
        overflow: hidden;
        display: flex;
    }
    li {
        float: left;
    }
}

.preview__album--active {
    .photo-overlay {
        display: none;
    }
}

.photo-overlay {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    &:hover,
    .photo-overlay {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.forward-image {
    width: 35rem;
    height: 17rem;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1050;
    outline: 0;
    border-radius: 0.25rem;
    .icon-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.forward-image__tag {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1060;
    top: 11rem;
    width: 32rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #E5E5E5;
    border-radius: 0.25rem;
    max-height: 18rem;
    overflow-y: auto;
}

.forward__user--item {
    &:hover,
    .forward__user--item {
        background-color: $primary;
        color: #FFFFFF;
    }
}

.forward__user--avatar {
    width: 2.25rem;
    display: block;
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;
    background-size: cover;
    &:after {
        content: '';
        padding-top: 100%;
        display: block;
    }
}

.message__user--config {
    position: absolute;
    right: 0.25rem;
    top: 2.05rem;
    .gapo-icon {
        color: $secondary;
        font-size: 1rem;
    }
    .dropdown-item {
        &:hover *,
        .dropdown-item {
            color: #1A1A1A !important;
        }
        &:hover,
        .dropdown-item {
            background-color: $body-chat;
        }
        &:focus *,
        .dropdown-item {
            color: #1A1A1A !important;
        }
        &:focus,
        .dropdown-item {
            background-color: $body-chat;
        }
    }
    .btn {
        padding: 0.5rem 0rem;
    }
}

.btn-pd-conversation {
    padding: 0.375rem 1.625rem;
}

.chat-view-profile {
    background-color: transparent;
    .message-aside--left {
        background-color: #FFFFFF;
    }
}

.message__editor {
    background-color: #FFFFFF;
}

.text__first--chat {
    font-size: 0.8125rem;
}

.message__editor_block {
    min-height: 4.5rem;
    background-color: #FAFAFA;
}

.message-form__reply {
    min-height: 3.5rem;
    .reply__item {
        background-color: #f5f5f5;
        border-radius: 6.25rem;
        position: relative;
        display: table;
        padding: 0.25rem 1.25rem;
        font-size: 0.75rem;
        max-width: 50%;
        color: #4D4D4D;
    }
    a {
        color: #4D4D4D;
    }
    .close-reply {
        width: 1.125rem;
        height: 1.125rem;
        background-color: $secondary;
        line-height: 1.125rem;
        padding: 0;
        border-radius: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        right: -1rem;
        .gapo-icon {
            color: #FFFFFF;
            font-size: 0.5rem;
            text-shadow: none;
            position: relative;
            top: -0.025rem;
        }
    }
    .reply__content {
        max-width: 28rem;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.history__reply--right {
    font-size: 0.75rem;
    color: $secondary;
}

.message__reply {
    position: relative;
    display: table;
    max-width: 50%;
    .gapo-icon {
        line-height: 1.4;
        position: relative;
        top: 0.15rem;
    }
}

.reply__details {
    font-size: 0.75rem;
    opacity: 0.7;
}

.reply__image {
    width: 2.25rem;
    float: left;
    content: '';
    display: block;
    padding-top: 0.25rem;
    border-radius: 0.25rem;
    &:after {
        padding-top: 100%;
    }
}