.search-filter {
  margin-bottom: 0.75rem;
}

.search-filter__item {
  margin-right: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}


.search-group__list {
  padding: 0 0.75rem;
}

.search-group__action {
  display: block;
  padding: 0 0.75rem;
  border-top: 1px solid #ECECEC;
  padding-top: 0.75rem;
  font-weight: 600;
}

.search-group__item {
  margin-bottom: 0.75rem;
}
